/*Type*/
h1 {
  font-size: 240%;
  color: #d6c84d;
  font-weight: normal;
}

a {
  color: #e6dbfb;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

html {
  margin: 0;
  padding: 0;
  background: #40208c; /* Old browsers */
  /*background: -moz-linear-gradient(top,  #40208c 0%, #40208c 100%); /* FF3.6+ */*/
  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#40208c), color-stop(100%,#40208c)); /* Chrome,Safari4+ */*/
  /*background: -webkit-linear-gradient(top,  #40208c 0%,#40208c 100%); /* Chrome10+,Safari5.1+ */*/
  /*background: -o-linear-gradient(top,  #40208c 0%,#40208c 100%); /* Opera 11.10+ */*/
  /*background: -ms-linear-gradient(top,  #40208c 0%,#40208c 100%); /* IE10+ */*/
  /*background: linear-gradient(to bottom,  #40208c 0%,#40208c 100%); /* W3C */*/
  /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#40208c', endColorstr='#40208c',GradientType=0 ); /* IE6-9 */*/
  /*background-position: fixed;*/
  /*background-size: cover;*/
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  pading: 0;
  font-family: 'Ubuntu Mono';
  font-size: 18px;
  color: #e6dbfb;
  -webkit-font-smoothing: antialiased;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#40208c+0,40208c+100 */
}

#main {
  width: 50%;
  max-width: 800px;
  min-width: 300px;
  margin: 1em auto;
  z-index: 20;
  position: relative;
}

section .content .title {
  /*color: #2d7cf4;*/
}

section .content .title:before {
  content: "# ";
  margin-left: -1em;
}

.content img {
  max-width: 100%;
  border: .2em solid #1e0e44;
  display: block;
}

#shows .show {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #2f6fd0;
}

#shows .show .date, #shows .show .venue {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  font-size: 120%;
}

#shows .show .date {
  font-weight: bold;
}
#shows .venue {
  padding-left: .6em;
}
@media (max-width: 800px) {
  #shows .show .venue {
    display: block;
    padding-top: .3em;
  }
}

#shows .show .description {
  padding-top: .6em;
  font-size: 80%;
}

#stuff {
  padding-bottom: 1em;
}

#drawCanvas {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
}

#imgBuff {
  /*display: none;*/
}

#bgImg {
  /*min-height: 300px*/
  height: 300px;
  min-width: 1px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  background-image: url('/images/trans_band.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  z-index: 3;
}

ul {
  line-height: 1.6em;
}
