/*Type*/
h1 {
  font-size: 240%;
  font-weight: normal;
}

h1,
h2,
h3,
h4 {
  font-weight: normal;
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #edebe4;
}
body {
  height: 100%;
  width: 100%;
  margin: 0;
  pading: 0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
